---
extends: default
rules:
  comments-indentation: disable  # don't bother me with this rule
# 80 chars should be enough, but don't fail if a line is longer
  line-length: disable  # some files in roles installed from galaxy don't support the rule
  new-line-at-end-of-file: disable
  document-start: disable
  truthy:
    allowed-values:
      - 'yes'
      - 'no'
      - 'True'
      - 'true'
      - 'False'
      - 'false'
      - 'on'
      - 'off'
